$body-bg: rgba(36, 56, 63, 0.8);
$body-color: #d7e1e2;
$text-muted: #adb5bd;
$secondary: #1d2224;
$primary: rgba(36, 56, 63, 0.8);

.joystick-left-outer {
  z-index: 10000000;
  position: fixed;
  bottom: 60px;
  left: 60px;
  background-color: var(--color-outer);
  border-radius: 99px;
  width: 150px;
  height: 150px;
}

.joystick-left-inner {
  z-index: 100000;
  position: "relative";
  top: "24%";
  translate: "translateY(-50%)";
  margin: "auto";
  background-color: var(--joystick-color-inner);
  border-radius: "99px";
  width: "80px";
  height: "80px";
}

.joystick-right-outer {
  z-index: 10000000;
  position: fixed;
  bottom: 120px;
  right: 60px;
  background-color: var(--joystick-color-outer);
  border-radius: 99px;
  width: 150px;
  height: 150px;
}

.joystick-right-inner {
  z-index: 100000;
  position: relative;
  top: 24%;
  translate: translateY(-50%);
  margin: auto;
  background-color: var(--joystick-color-inner);
  border-radius: 99px;
  width: 80px;
  height: 80px;
}
.sidebar {
  position: relative;
  background-color: rgba(36, 56, 63, 0.8);
  z-index: 100000;
  width: 300px;
  height: var(--sidebar-height);
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  border-radius: 5px;
}

.b-info {
  position: absolute;
  background-color: rgb(28, 64, 66);
  width: 100%;
  bottom: 0px;
  left: 0px;
}
.info {
  font-size: 0.8rem;
}

.toast-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}

.ros-log {
  font-size: 0.7rem;
  color: $text-muted;
}

.rosbag {
  display: flex;
  justify-content: space-around;
}
@import "../node_modules/bootstrap/scss/bootstrap";
