* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

img {
  height: inherit;
  width: inherit;
}

:root {
  --box-width: 300px;
  --box-height: 200px;
  --sidebar-width: 400px;
  --sidebar-height: calc(100vh - 150px);

  --color-outer: rgba(63, 43, 36, 0.2);
  --color-inner: rgba(238, 232, 230, 0.8);
}
.projectBar {
  position: fixed;
  display: flex;
  background-color: rgba(36, 56, 63, 0.8);
  color: white;
  border-radius: 8px;
  width: 100vw;
  z-index: 10000;
  padding: 10px 0px;
  text-align: center;
  justify-content: space-around;
}
.view-container {
  position: absolute;
  display: block;
  z-index: 10000;
  right: 0;
  left: 0;
  bottom: 60;
}

.fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.minimize {
  position: absolute;
  top: 10px;
  color: #fff;
  display: none;
  right: 10px;
}

span:hover {
  color: #c8cdcf;
}

.menu-item {
  font-size: 13px;
  font-weight: 800;
}

.camera {
  position: absolute;
  z-index: 10000;
  bottom: 40px;
  margin: auto;
  right: 0;
  left: 0;
  background-color: var(--color-outer);
  border: none;
  width: var(--box-width);
  height: var(--box-height);
  transition: width 0.2s, height 0.4s;

  border-radius: 5px;
}
.map {
  background-color: rgba(0, 0, 0, 0.4);
  width: var(--box-width);
  height: var(--box-height);
  border-radius: 5px;
  margin-right: 10px;
}
